registry=https://registry.npmjs.org/
# registry=https://registry.mycorp.com
# registry=http://mirrors.cloud.tencent.com/npm/
#registry=http://192.168.12.201:4873/

auto-install-peers = true
strict-peer-dependencies = false

